.home{
	h1{
		text-align: center;
	}
	h3{
		text-align: center;
	}
	div {
		text-align: center;
		ul {
			margin: 0 auto;
			padding: 0;
			border: 2px solid green;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-around;
			align-content: space-around;
			li {	
				width: 50%;
				border: 1px solid red;
				display: inline-flex;
				flex-direction: row;
				flex-wrap: wrap;
				align-items: center;
				justify-content: center;
				padding: 40px;
				a{
					text-decoration: none;
					color: black;
				}
			}
		} }
} 