$brand: #ffb399;
$interactive: #ffffbf;
$black: #000000;

// @mixin bgMain($select, $format : 'm'){
//     $url: ''
// }
// import font
@import url('https://fonts.googleapis.com/css?family=Alef:400,700');

// generic
body {
    background-color: $brand;
    font-family: 'Alef', sans-serif;
    line-height: 110%;
}

a {
    &:link {
        color: #000;
        text-decoration: none;
        font-size: 1.5em;
        transition: all .2s ease-in-out;
    }
    &:hover {
        transform: scale(1.1);
        color: $black;
    }
    &.link {
        color: $interactive;
        font-size: .9em;
        background-color: $black;
        padding: 0.2em 0.6em;
    }
}

h1,h2,h3,h4,h5,h6 {
    position: relative;
    z-index: 1;
    color: $black;
    text-align: center;
}

h1 {
<<<<<<< HEAD
    font-size: 4em;
    letter-spacing: -2px;
=======
  font-size: 3em;
>>>>>>> c399d1192a73d80f742c06923847e2c2cb213b63
}

ul {
    margin: 0 auto;
    padding: 0; // display: inline-flex;
    // flex-direction: row;
    // flex-wrap: wrap;
    // justify-content: space-around;
    // align-content: space-around;
    li {
        width: 50%;
        display: inline-flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center; // padding: 40px;
        a {
            text-decoration: none;
            color: black;
        }
    }
}


// Navbar header
header h1 {
    a:link {
        background: url('../img/logo_antojo-de.png') no-repeat center center;
        background-size: 100%;
        display: block;
        height: 72px;
        margin: 0 auto;
        text-indent: -9999px;
        width: 150px;
    }
}

[class^="pe-is-f-"],
[class*=" pe-is-f-"] {
    font-size: 5.5em;
    display: block;
    margin-bottom: .1em

}


// home
.home,
.category {
    a:link {
        padding: 40px;
        text-align: center;
    }

}

// main section 
.detail {
    position: relative;

    .bg-main {
        position: absolute;
        top: -102px;
        margin-bottom: 0;
        z-index: -1;
        max-width: 100%;
        opacity: .25;
        width: 100%;
        height: 300px;
        background: no-repeat center center;
        background-size: cover;
    }
    .main {
        text-align: center;

        p {
            text-align: right;
        }
    }
  }
  .wrap-flex {
    background: $black;

    .flex-item {
      p span {
        font-size: 3em;
      }
      span {
        font-size: 2em;
      }
    }
  }



// model box categories pages
.wrap-flex {
  padding: 0;
  margin: 0;
  list-style: none;

  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -webkit-flex-flow: row wrap;
  justify-content: space-between;


    list-style: none;

}


.flex-item {
  color: #fff;
  width: 200px;
  margin-top: 10px;


    font-weight: bold;
    text-align: center;

}

// details
// list 
.list {
    h3, h5 {
        margin-top:0;
    }
    p {
        text-align: right;
    }
    ul {
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        align-items: center; // Para volver al prototipo inicial
        // -webkit-flex-direction: column;
        //    flex-direction: column;
        //    -webkit-justify-content: flex-start;
        //    justify-content: flex-start
    }
    li {
        border-bottom: solid 1px;
        border-color: white;
        padding: 20px;
    }
}





// @media (min-width:320px) {
//     .flex-item {
//         width: 50%;
//         font-size: 1em;
//     }
// }
// @media (min-width:480px) {
//     .flex-item {
//         width: 50%;
//         font-size: 1em;
//     }
// }
// @media (min-width:768px) {
//     .flex-item {
//         width: 45%;
//     }
// }
// @media (min-width:990px) {
//     .flex-item {
//         width: 45%;
//     }
// }
// @media (min-width:1400px) {
//     .flex-item {
//         width: 48%;
//         margin-top: 15px;
//     }
// }

// .flex-list {
//     padding: 0;
//     margin: 0;
//     display: flex;
//     flex-direction: column;
//     flex-wrap: nowrap;
//     list-style:none
// }
// .flex-save{
//     border: 2px solid red;
//     margin-top: 10px

// }

.ngMap{
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
  }

ng-map{
    display: block;
    height: 100%; 
  }

.map{
  .linkToList{
    position: absolute;
    z-index: 1;
    right: 15px;
    top: 15px;
  }
  .footerSection{
    position: absolute;
    bottom: 15px;
    z-index: 1;
    text-align: center;
    left: 35%;
    background-color: $brand;
    padding: 10px;
  }
}




