.home{
	h1{
		font-size: 88px;
		text-align: center;
	}
	h3{
		font-size: 68px;
		text-align: center;
	}
	div ul {
		height: 1400px;
		border: 2px solid green;
		display: inline-flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		align-content: space-around;
		li {
			height: 350px;
			width: 350px;
			border: 1px solid red;
			display: inline-flex;
			flex-direction: row;
			flex-wrap: wrap;
			align-items: center;
			justify-content: center;
			a{
				font-size: 38px;
				text-decoration: none;
				color: black;
			}
		}
	}
} 