<div class="category">
	<h1>{{ localData.title }}</h1>
	<div>
		<ul>
			<li ng-model="showCategoryName" ng-repeat="data in subCategory">
				<a ng-href="#!categories/{{categoryId}}/map/{{data.id}}"><span class="{{data.style}}"></span>{{data.type}}</a>
			</li>

		</ul>
	</div>
</div>

<!-- hacer un loading chulo y sencillo WAY 1
<p nh-hide="allCitites.length">Loading cities</p> -->

<!-- hacer un loading chulo y sencillo WAY 2
.loading-data{
	width: 100%;
	heihgt: 100%;
	background: black;
	position: absolute;
	z-index: 2;
	top: 0;
}
<div class="loadind-data" nh-hide="allCitites.length">
	cuando lenght != 0 este div sera hide
</div>

en el .then del controlador mediante $rootScope.dataLoaded = true-->