<div class="container">
	<h1>{{ section }}</h1>

	<ng-map default-style="true" center="{{ll}}" zoom="13">
		<!-- comment MARKER WITH ON-CLICK EVENT AND DINAMIC POSITION FROM POSITION VENUES-->
		<marker ng-repeat="item in items" id='{{item.venue.id}}' position="
		{{ item.venue.location.lat}}, {{item.venue.location.lng}} "
		on-click="showDetail(item)">

		</marker>

		<!-- SHOW INFO WHEN CLICK ON ICON -->
		<info-window id="infow">
			<div ng-non-bindable="">
				<p>{{items.venue.name}}</p>
				<!-- <a href="#" ng-click="vm.clicked()">Click Here</a> -->
			</div>
		</info-window>
	</ng-map>

	<!-- // ICON CLICKABLE SHOW INFO-WINDOW -->
	<!-- 
	<figure ng-controller=“MapCtrl”>
		<gmap></gmap>
		<map-marker ng-repeat=“location in locations” ng-style=“{‘background-color’:location.color}”></map-marker>
	</figure> -->
</div>